:root {

    --white: #FFFFFF;
    --rich-black: #090909;
    --rifle-green: #636F6D;
    --opal: #9BC4BC;
    --aero-blue: #D3FFE9;
    --sky-blue: #8DDBE0;
    --mint-cream: #E5F0EE;


    --color_A: #1A4F75;
    --color_B: #80C5F7;
    --color_C: #35A5F5;
    --color_D: #3D5E75;
    --color_E: #2B83C2;
    --color_B_light: #bee1fa;

}

.app-container {
    min-height: 100vh;
}


.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.horizontal-shift {
    margin: 0;
    position: absolute;
    left: 40%;
    -ms-transform: translateX(-40%);
    transform: translateX(-40%);
}



.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title {
    background-color: var(--color_A);
    color: white;
}

.upload-screen {
    text-align: center;
}

.upload-screen i {
    font-size: 96px;
    color: var(--color_A)
}


.email-body {
    height: 1000px;
    overflow: scroll;
    padding-left: 16px;
    margin-left: 32px;
}

.email-header {
    background-color: var(--color_E);
    overflow: auto;
    padding: 16px;
    color:white;

}

.inbox {
    background-color: white;
    border-left: 1px solid var(--color_D);
    border-right: 1px solid var(--color_D);
    min-height: 100%;
}

.remove-padding {
    padding-left: 0px;
}

.upload-container {
    background-color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    position: relative;
    padding:16px;


}

.upload-container h2 {
        color: var(--color_C);
}





.msg-item {
    background-color: white;
    height:75px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 16px;
    border: 1.5px solid var(--color_C);
    border-radius: 11px 11px 11px 11px;

}

.active {
    background-color: var(--color_B);;
}

.msg-item:hover {
	background-color: var(--color_B_light);
    opacity: 1;
    cursor: pointer;
}
