:root {

    --white: #FFFFFF;
    --rich-black: #090909;
    --rifle-green: #636F6D;
    --opal: #9BC4BC;
    --aero-blue: #D3FFE9;
    --sky-blue: #8DDBE0;
    --mint-cream: #E5F0EE;

}

.app-container {
    min-height: 100vh;
}

.max-height {

    min-height: 100%;
    height: 100%;

}



.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.upload-screen {
    text-align: center;
}

.upload-screen i {
    font-size: 64px;
}


.email-body {
    height: 1000px;
    overflow: scroll;
}

.email-header {
    background-color: var(--opal);
    overflow: auto;
}

.inbox {
    background-color: var(--aero-blue);
    min-height: 100vh;
}

.upload-container {
    background-color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 125px;
    position: relative;
    padding:16px;
    text-align: center;
}



.msg-item:nth-child(even) {
    background-color: #f2f2f2;
}

.msg-item {
    background-color: var(--sky-blue);
    height:75px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 16px;

}

.msg-item:hover {
	background-color:blue;
    cursor: pointer;
}

.msg-item:active {
    background-color: black;
}
